body {
    color: white
}

h1 {
    color: black;
}

.nav {
    overflow: hidden;
    background-color: #1D305E;
}

.nav a {
    width: 20%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vh 0 1.5vh;
    text-decoration: none;
}

.header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: #1D305E;
    margin: 1vh;
    text-align: center;
}

img {
    width: 100%;
    height: 60%;
    object-fit: fill;
    filter: grayscale(100%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    max-height: 10vh;
    background-color: #2C74B3;
    text-align: center;
}

.footer div {
    flex: 1;
}

.footer .nav {
    background-color: #2C74B3;
}

.contact {
    display: block;
    font-size: 1.2vh;
    text-decoration: none;
}

.about {
    display: block;
    font-size: 1vh;
}

.about p {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .footer {
        display: block;
        max-height: fit-content;
    }
}